//
//  Secrets.xcconfig
//  Prueba SwiftUI
//
//  Created by Milton Putallaz on 04/10/2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_KEY = be56b29bf11b361bfc044db2d86ade8c
API_READ_ACCESS_TOKEN = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiZTU2YjI5YmYxMWIzNjFiZmMwNDRkYjJkODZhZGU4YyIsIm5iZiI6MTcyODA3MDM1Mi42OTE1MjIsInN1YiI6IjYwZDVjNDgyMzNhZDhmMDA1ZWRkZDMwMyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.ZIDdfTP23y_fR4oy9FOCgtwVyVb1Tfs55APELg9K4Bs
